<!doctype html>
<html lang="en">
<head>
  <title>BG</title> 
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body {
    		    padding: 0;
		    margin: 0;
		}
		html, body {
		    height: 100%;
		    font-family: 'Space Mono', monospace;
                    font-size: 12px;
                    margin: 0;
                    overflow: hidden;
		}
		#board { z-index: 2; position: absolute; left: 50px; }
	</style>	
	
</head>
<body>
        <canvas class="myBoard" width="640" height="480">
          <p>Your browser doesn't support canvas.</p>
        </canvas>
	<script>
        board = [2, 0, 0, 0, 0, -5, 0, -3, 0, 0, 0, 5, -5, 0, 0, 0, 3, 0, 5, 0, 0, 0, 0, -2];
        const canvas = document.querySelector('.myBoard');
        const ctx = canvas.getContext('2d');
        const width = canvas.width;
        const height = canvas.height;
        const diameter = 20;
        const twoPI = 2 * Math.PI;

        displayBoard(20, 100);

        function displayNumPiece(x, y, numPiece) {
          ctx.strokeStyle = 'black';
          ctx.lineWidth = 1;
          ctx.font = '12px Space Mono';
          ctx.strokeText(numPiece, x, y);
        }

        function displayPiece(x, y, color) {
          ctx.strokeStyle = 'black';
          ctx.fillStyle = color;
          ctx.beginPath();
          ctx.arc(x, y, diameter/2, 0, twoPI);
          ctx.fill();
          ctx.stroke();
        }; 

        function displayArrow(x, y, position, color) {
          const offset = diameter/2;

          ctx.beginPath();
          ctx.fillStyle = color;
          if(position == -1) {
            ctx.moveTo(x, y);
            ctx.lineTo(x+diameter/2, y+5*diameter);
            ctx.lineTo(x+diameter, y);
            ctx.lineTo(x, y);
          } else {
            ctx.moveTo(x, y+diameter*11);
            ctx.lineTo(x+diameter/2, y+diameter*6);
            ctx.lineTo(x+diameter, y+diameter*11);
            ctx.lineTo(x, y+diameter*11);
          }
          ctx.fill();
        };

        function displayBoard(x, y) {
          const janWidth = 6*diameter+3;  
          const janHeight = 11*diameter+2;
          const barWidth = diameter;
          const arcOffset = diameter/2;

          ctx.lineWidth = 1;
          ctx.strokeStyle = 'black';
          ctx.fillStyle = 'green';
          ctx.fillRect(x, y, 2*janWidth+barWidth, janHeight);
          ctx.strokeRect(x+1, y+1, janWidth-2, janHeight-2);
          ctx.fillStyle = 'brown';
          ctx.fillRect(x+janWidth, y, barWidth, janHeight);
          ctx.strokeRect(x+janWidth, y+1, barWidth, janHeight-2);
          ctx.strokeRect(x+janWidth+barWidth+1, y+1, janWidth-2, janHeight-2);

          line = y+diameter/2+1;
          position = 1;
          arrowColor = 'darkgreen';
          for (var numSlot = 23; numSlot >= 0; numSlot--) {
            nbPieces = board[numSlot];
            posSlot = (23-numSlot)*diameter;
            if(numSlot < 12) {
              position = -1;
              line = y+janHeight-diameter/2-1;
              posSlot = numSlot*diameter;
            }
            offsetx = 1;
            if(numSlot > 5 && numSlot < 18) {
              offsetx = barWidth+5;
            }
            if(numSlot > 11) {
              displayNumPiece(x+posSlot+offsetx+2, y-2, numSlot+1);
            } 
            else {
              displayNumPiece(x+posSlot+offsetx+2, y+janHeight+12, numSlot+1);
            }
            displayArrow(x+posSlot+offsetx, y+1, -position, arrowColor);
            if(arrowColor == 'lightgreen') {
              arrowColor = 'darkgreen';
            } else {
              arrowColor = 'lightgreen';
            }
            if(nbPieces!=0) {
              if(nbPieces>0) { 
                color = 'white';
              } else {
                nbPieces = -nbPieces;
                color = 'black';
              }
              for(var numPiece = 0; numPiece < nbPieces; numPiece++) {
                displayPiece(x+posSlot+offsetx+arcOffset, line+position*numPiece*diameter, color);
              }
            }
          }
          displayPips(x+janWidth*2+barWidth, y);
        };

        function displayPips(x, y) {
            var sumW = 0;
            var sumB = 0;
            for(var slot = 0; slot < 24; slot++) {
                val = board[slot];
                if(val > 0) {
                    sumW += (slot+1)*val;
                } else {
                    sumB -= (slot+1)*val;
                }
            }
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 1;
            ctx.font = '12px Space Mono';
            ctx.strokeText(sumW, x, y);
            ctx.strokeText(sumB, x, y+diameter);
        }
	</script>
</body>
</html>

