<!doctype html>
<html lang="en">
<head>
  <title>BG</title> 
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Space+Mono' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body {
    		    padding: 0;
		    margin: 0;
		}
		html, body {
		    height: 100%;
		    font-family: 'Space Mono', monospace;
                    font-size: 12px;
                    margin: 0;
                    overflow: hidden;
		}
		#board { z-index: 2; position: absolute; left: 50px; }
	</style>	
	
</head>
<body>
        <canvas class="myBoard" width="640" height="480">
          <p>Your browser doesn't support canvas.</p>
        </canvas>
	<script>
        board = [2, 0, 0, 0, 0, -5, 0, -3, 0, 0, 0, 5, -5, 0, 0, 0, 3, 0, 5, 0, 0, 0, 0, -2];
        const canvas = document.querySelector('.myBoard');
        const ctx = canvas.getContext('2d');
        const width = canvas.width;
        const height = canvas.height;

        ctx.fillStyle = 'green';
        ctx.fillRect(0, 0, width, height);

        ctx.strokeStyle = 'black';
        ctx.lineWidth = 3;
        ctx.strokeRect(0, 0, width, height);

        //for (var i = 0; i < 10; i++){
        //  k = 10*(i+1);
        //  displayPiece(10, k, 'white');
        //};

        displayBoard();

        ctx.strokeStyle = 'white';
        ctx.lineWidth = 1;
        ctx.font = '12px Space Mono';
        ctx.strokeText('Canvas text', 50, 50);

        function displayPiece(x, y, color){
          ctx.fillStyle = color;
          ctx.beginPath();
          ctx.arc(x, y, 10, 0, 2 * Math.PI);
          ctx.fill();
        }; 

        function displayBoard() {
          y = 100;
          for (var i = 0; i < 24; i++) {
            if(i>11) {
              y = 200;
            }
            k = i*20;
            if(board[i]>0) { 
              displayPiece(k+10, y, 'white');
            }
            if(board[i]<0) {
              displayPiece(k+10, y, 'black');
            }
          };
        };
	</script>
</body>
</html>

